html 
    head
        title #{spell.spellName}
        style 
            include ../public/styles/navbar.css
            include ../public/styles/spell.css
    body 
        include navbar
        .content
            .spell
                h2.name #{spell.spellName + " - " + spell.spLvl}
                p.school #{spell.school}
                p.range #{spell.range}
                p.time #{spell.castTime}