html 
    head
        title #{char.name}
    body 
        include navbar
        p #{char.name}
        p #{"Level " + char.charLvl + " " + char.subclass + " " + char.class}
        p #{"Race: " + char.race}
        p #{"Alignment: " + char.alignment}
        p #{"Max HP: " + char.maxHp}
        p #{"STR: " + char.str}
        p #{"DEX: " + char.dex}
        p #{"CON: " + char.con}
        p #{"INT: " + char.int}
        p #{"WIS: " + char.wis}
        p #{"CHA: " + char.cha}