html 
    head
        title #{spell.spellName}
        style 
            include ../public/styles/navbar.css
            include ../public/styles/spell.css
    body 
        include navbar
        .content
            .spell
                h2.name #{spell.spellName + " - " + spell.spLvl}
                p.school #{"School: " + spell.school}
                p.range #{"Range: " + spell.range}
                p.time #{"Cast time: " + spell.castTime}