html 
    head
        title #{weapon.weaponName}
        style 
            include ../public/styles/navbar.css
            include ../public/styles/weapon.css
    body 
        include navbar
        .content
            .weapon
                h2.name #{weapon.weaponName + " - " + weapon.weaponType}
                p.damage #{weapon.damage + " " + weapon.damageType + " damage"}
                p.weight #{weapon.wepWeight + " lbs"}
                p.prop #{weapon.properties}