html 
    head
        title #{char.name}
        style 
            include ../public/styles/navbar.css
            include ../public/styles/character.css
    body 
        include navbar
        .content
            .character
                h2.name #{char.name + " - Level " + char.charLvl + " " + char.subclass + " " + char.class}
                p.race #{"Race: " + char.race}
                p.align #{"Alignment: " + char.alignment}
                p.hp #{"Max HP: " + char.maxHp}
                if !char.wears
                    p.armor #{"Armor: Unarmored"}
                else 
                    .armor
                        span Armor: 
                        a(href="/armor/" + char.wears) #{char.wears}
                .stats
                    p #{"STR: " + char.str}
                    p #{"DEX: " + char.dex}
                    p #{"CON: " + char.con}
                    p #{"INT: " + char.int}
                    p #{"WIS: " + char.wis}
                    p #{"CHA: " + char.cha}
            .wields 
                h2 Wields:
                each weapon in weapons
                    .weapon 
                        if weapon.proficiency == 1
                            a(href="/weapons/" + weapon.weaponName) #{weapon.weaponName + " - Proficient"} 
                        else 
                            a(href="/weapons/" + weapon.weaponName) #{weapon.weaponName + " - Not Proficient"}
            .casts 
                if spells.length != 0
                    h2 Casts 
                    each spell in spells 
                        .spell 
                            a(href="/spells/" + spell.spellName) #{spell.spellName + " - " + spell.spLvl}

